// React
import React, { useEffect, useState } from "react";

// Packages
import cc from "classcat";
import t from "prop-types";
import Link from 'next/link';
import Image from 'next/image';

// Utilities
import { useContext, useElseware, useLabels } from 'utilities/hooks';
import { useInitiativeDataStore } from 'utilities/store';

// Components

const {{pascalCase name}}Component = ({ prop }) => {
    // ///////////////////
    // STORES
    // ///////////////////

    const { utilities } = useInitiativeDataStore();

    // ///////////////////
    // HOOKS
    // ///////////////////

    const { CONTEXTS, MODE } = useContext();
    const { label } = useLabels();

    // ///////////////////
    // STATE
    // ///////////////////

    const [loading, setLoading] = useState(false);

    // ///////////////////
    // METHODS
    // ///////////////////

    function {{pascalCase name}}Method() {}

    // ///////////////////
    // EFFECTS
    // ///////////////////

    useEffect(() => {}, [])

    // ///////////////////
    // RENDER
    // ///////////////////

    return (
        <div className="">{{sentenceCase name}}</div>
    );
};

{{pascalCase name}}Component.propTypes = {};

{{pascalCase name}}Component.defaultProps = {};

export default {{pascalCase name}}Component;